<%- include ("header") -%> 
    <div class="box" id="heading">
      <h1>
        <%= listTitle %>
      </h1>
    </div>
    <div class="box">
      <!-- All Items In the List  -->
      
      <% newListItems.forEach((item) => { %>
        <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" value= <%= item._id %> onchange="this.form.submit()" />
          <p><%= item.name %></p>
        </div>
        <input type="hidden" name = "listName" value= <%= listTitle %> />
        </form>
      <% }) %>
        
      <!-- Add Button -->
        <form class="item" action="/" method="post">
          <input type="text" name="item" id="newItem" placeholder="New Item" autocomplete="off" />
          <button type="submit" name="submit" value= <%= listTitle %> >+</button>
        </form>

    </div>

<%- include ("footer") -%>